apiVersion: kubeadm.k8s.io/v1alpha1
kind: MasterConfiguration
api:
  advertiseAddress: {{ ansible_default_ipv4.address }}
etcd:
  endpoints:
{% for host in groups['masters'] %}
  - https://{{ hostvars[host]['ansible_default_ipv4']['address'] }}:2379
{% endfor %}
  caFile: "{{ etcd_certs_dir }}/ca.pem"
  certFile: "{{ etcd_certs_dir }}/client.pem"
  keyFile: "{{ etcd_certs_dir }}/client-key.pem"
imageRepository: "{{ image_repository }}"
networking:
  podSubnet: {{ pod_network_cidr }}
apiServerCertSANs:
- {{ master_vip }}
apiServerExtraArgs:
  endpoint-reconciler-type: lease
kubernetesVersion: "v{{ kube_version }}"